<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cartão de Visitas</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Livro de visitas:</h1>
    <form method="POST" action="/">
        <label>Nome:</label>
        <input type="text" name="nome" required>
        <label>Mensagem:</label>
        <textarea name="mensagem" rows="4" required></textarea>
        <button type="submit">Enviar</button>
    </form>

    <!-- MENSAGEM_SUCESSO -->

    <h2>Mensagens:</h2>
    <!-- MENSAGENS_LISTA -->
</body>
</html>
